@charset "utf-8";
video {
    width: 500px;
    border: thick solid #FFFFFF;
}
.sideBySide {
    display: flex;
    border: thick solid #FFFFFF;
}.limit {
    border-style: groove;
    max-width: 300px;
}
